@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap");

/* .attention {
    animation: attention 2s linear infinite;
  }
  
  @keyframes attention {
    50% { 
       transform: scale(0.90);
       box-shadow: inset #ffc909 0 0 20px 0;   
      }
  } */

/* .warning-container .btn-warning { 
    color: #e40707;
    font-size: 2rem ;
    cursor: pointer;
    outline:none;
    box-shadow: inset #e40707 0 0 10px 0;    
} */


/* .warning-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100px 0 #ffc909;    
  }   */



/* .warning-container:nth-last-child(1) {
    color: #000000;
    font-weight: 600;
} */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  width: 100vw; 
} */

* {
  border: 1px solid red;
}

.welcome-container {
  /* display:block; */
  /* flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;  */
  /* position: relative; */
  /* padding: 0 2rem; */
  /* margin: 0 auto; */
}

.buttons-container {
  position: relative;
  display: flex;
  height: 10rem;  
  justify-content: space-between; /*iphone-space-around ipad,large- space between */ 
  padding: 0 2rem;

  align-items: center;
  z-index: 1;
  width: 95%;  
  /* background-image: url("../assets/background-stars-top.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
   /* large 3rem */
  /* gap: .5rem; */
   /* iphone only*/
}

.buttons-container::before {
  /* content: "";
  position: absolute; */
  /* border-radius: 20em; */
  /* top: 10rem; */
  /* left: 25rem; */
  /* width: 90%; */
  /* height: 25rem; */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  /* z-index: 5; */
}

.audio-buttons {
  display: flex;
  gap: 2rem; /* iphone 1rem, ipad 2rem*/ 
  /* width: fit-content; */
  /* height: max-content; */
  justify-content: center;
  align-items: center;
  text-align: center;  
  /* z-index: 6; */
}
/* .audio-buttons i { */
    /* padding: 1rem 0 0; */
    /* font-size: 1rem; */
/* } */

.btn-start a {
  color: #ffc909;
}

.btn-audio,
.btn-start {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: "Poppins", sans-serif;
  /* padding: 1rem; */
  background: transparent;
  color: #ffc909;
  font-size: 2rem;
  cursor: pointer;
  border: #ffc909 1px solid;
  outline: none;
  box-shadow: inset #ffc909 0 0 10px 0;
  /* z-index: 1; */
}

.btn-start {
height: 6rem;
width: fit-content; /* width: 15rem; */
border-radius:35px; 
padding: 2rem 4rem;  
left: 4rem;
}

.btn-audio {
   font-size: 3rem;   
   padding: 1rem;
}

button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* opacity: 0.7; */
  background: transparent;
}

.pulse {
  position: relative;
}

.pulse::after,
.pulse::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* color: #ffc909; */
  border-radius: 35px;
  z-index: -1;
}

.pulse::after {
  color: #000;
  animation: 2s pulse 42s ease-in infinite;
}

.pulse::before {
  animation: 2s pulse 42s ease-in-out infinite;
}

@keyframes pulse {
  50% {
    color: #000;
    background: #1eff0077;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}

.pulse:hover,
.pulse::before:hover,
.pulse::after:hover {
  animation: paused;
}

.btn-audio {
  border-radius: 50%;
}

.btn-audio:hover,
.btn-start:hover {
  outline: #ffc909 1.7px solid;
  box-shadow: inset #ffc909 0 0 13px 0;
}

.btn-audio:active,
.btn-start:active {
  box-shadow: #ffc909 0 0 30px 0;
  border: none;
  outline: none;
}


button:hover::before,
button:hover::after,
button:hover {
  animation: none;
  outline: none;
  background: transparent;
}

.text-container {
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  position: relative;
  background-image: url("../assets/background-stars-desktop.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ? CONTAINER LINEAR GRADIENT fade to black */
.text-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 40%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  perspective: 50rem;
}

.scroll-text {
  margin-top: 100vh;
  color: #ffc909;
  font-size: 2vw;
  line-height: 2em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 150s linear forwards;
}

@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0px) rotateX(35deg);
  }
  to {
    top: -7500px;
    transform: 
        /* overall text dimension*/ translateZ(-4800px)
      rotateX(36deg);
  }
}

h1,
h2 {
  text-align: center;
}

@media screen and (max-width: 720px) {
    
.buttons-container {
  position: relative;
  display: flex;
  height: 6rem;  
  justify-content: space-between;
  /* padding: 0 2rem; */

  align-items: center;
  z-index: 1;
  width: 100%; 
  /* background-image: url("../assets/background-stars-top.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
   /* large 3rem */
  /* gap: .5rem; */
   /* iphone only*/
}

.buttons-container::before {
  /* content: "";
  position: absolute; */
  /* border-radius: 20em; */
  /* top: 10rem; */
  /* left: 25rem; */
  /* width: 90%; */
  /* height: 25rem; */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  /* z-index: 5; */
}

.audio-buttons {
  display: flex;
  gap: 1rem; /* iphone 1rem, ipad 2rem*/ 
  /* width: fit-content; */
  /* height: max-content; */
  justify-content: center;
  align-items: center;
  text-align: center;  
  /* z-index: 6; */
}
/* .audio-buttons i { */
    /* padding: 1rem 0 0; */
    /* font-size: 1rem; */
/* } */

.btn-start a {
  color: #ffc909;
}

.btn-audio,
.btn-start {
  position: relative;
  display: flex;
  /* align-items: center; */
  border-radius: 35px;
  font-family: "Poppins", sans-serif;
  /* padding: 1rem; */
  background: transparent;
  color: #ffc909;
  font-size: 1.5rem;
  cursor: pointer;
  border: #ffc909 1px solid;
  outline: none;
  box-shadow: inset #ffc909 0 0 10px 0;
  /* z-index: 1; */
}

.btn-start {
height: 4rem;
width: fit-content; /* width: 15rem; */
border-radius:35px; 
/* padding: 2rem 4rem;   */
left: 1rem;
}

.btn-audio {
   font-size: 2rem;   
   padding: 1rem;
}

/* button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  
  background: transparent;
} */

.pulse {
  position: relative;
}

.pulse::after,
.pulse::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* color: #ffc909; */
  border-radius: 35px;
  z-index: -1;
}

.pulse::after {
  color: #000;
  animation: 2s pulse 32s ease-in infinite;
}

.pulse::before {
  animation: 2s pulse 32s ease-in-out infinite;
}

@keyframes pulse {
  50% {
    color: #000;
    background: #1eff0077;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}

.pulse:hover,
.pulse::before:hover,
.pulse::after:hover {
  animation: paused;
}

.btn-audio {
  border-radius: 50%;
}

.btn-audio:hover,
.btn-start:hover {
   outline: none;
   border: none;

  outline: #ffc909 1.7px solid;
  box-shadow: inset #ffc909 0 0 13px 0;
}

.btn-audio:active,
.btn-start:active {
  box-shadow: #ffc909 0 0 30px 0;
  border: none;
  outline: none;
}


.text-container {
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  position: relative;
  background-image: url("../assets/background-stars-desktop.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ? CONTAINER LINEAR GRADIENT fade to black */
.text-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 40%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  perspective: 50rem;
}

.scroll-text {
  margin-top: 100vh;
  color: #ffc909;
  font-size: 1.1rem;
  line-height: 2em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 180s linear forwards;
}

@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0px) rotateX(20deg);
  }
  to {
    top: -5500px;
    transform: 
        /* overall text dimension*/ 
        translateZ(-2000px)
      rotateX(21deg);
  }
}

h1,
h2 {
  text-align: center;
}

}

@media screen and (min-width: 721px) and (max-width: 1200px) {

  .pulse::after {
    color: #000;
    animation: 2s pulse 35s ease-in infinite;
  }
  
  .pulse::before {
    animation: 2s pulse 35s ease-in-out infinite;
  }
  
  .scroll-text {
    margin-top: 100vh;
    color: #ffc909;
    font-size: 1.8rem;
    line-height: 2em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 150s linear forwards;
  }
  
  @keyframes scroll {
    from {
      top: 0;
      transform: translateZ(0px) rotateX(20deg);
    }
    to {
      top: -7500px;
      transform: 
          /* overall text dimension*/ 
          translateZ(-2000px)
        rotateX(21deg);
    }
  }
  
}
