
.carousel-container {
  width: 100%;
  height: 100%;  
  display: flex;
  /* padding-bottom: 1.5rem; */
  /* gap: 2rem; */  
  /* padding-bottom: 6rem; */
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* background-color: brown; */
}

.nav-dots {    
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 5.5rem;
  gap: 2rem;
  align-self: center;  
  z-index: 3;
  transform: translateY(-2rem);  
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;  
  cursor: pointer;  
  border-radius: 50%;
  border: none;
  outline: none;
}

.dot.active {
   box-shadow: 0px 0px 6px 4px #fff;
}

.slider-container {    
  width: 100%;
  height: 20rem;
  /* margin-bottom: 0rem; */
  /* background-color: aquamarine; */
  display: flex; 
  align-items: center; 
  justify-content: center;
  justify-self: end;   
  align-self: end;
  z-index: 3;
  }

  .dotsContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: flex-end;
    }
    
.poster-container {
  position: relative;
  padding: 4rem;
  height: 45rem;
  width: 45rem;  
  /* transform: translateY(-2rem); */
  /* overflow: hidden; */
}
.poster-container::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  overflow: hidden;
}


.posterStyles {
  position: relative; 
  height: 43rem;
  width: 35rem;
  transform: translate(1rem, -4rem);
  z-index: -2;
} 


.posterStylesLight {
  position: relative; 
  border-radius: 50%;
  z-index: 2;
  background-color: #fff;
} 

.posterStylesLight::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  box-shadow: inset 0px 0px 20px 30px #ffffff,
  0px 0px 10px 15px rgba(3, 255, 66, 0.945);
  z-index: -1;
} 

.posterStylesLight::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  border-radius: 50%;
  z-index:-1;
  box-shadow: 0px 0px 0px 100px #000000;
} 

.posterStylesDark {
  position: relative; 
  border-radius: 50%;
  z-index: 2;
  background-color: #000;  
} 

.posterStylesDark::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  outline: 1rem solid #000;
  box-shadow: inset 0px 0px 25px 50px #000,
  0px 0px 15px 25px #ff0000;
  z-index: 2;
} 

.posterStylesDark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  border-radius: 50%;  
  box-shadow: 0px 0px 0px 100px #000000;
  z-index: 1;
} 

