@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/star-wars");

@font-face {
  font-family: DistantGalaxy;
  src: url("../assets/fonts/SfDistantGalaxy-0l3d.ttf") format("opentype");
}

@font-face {
  font-family: SfDistantGalaxyAlternate;
  src: url("../assets/fonts/SfDistantGalaxyAlternate-OE4d.ttf")
    format("opentype");
}
@font-face {
  font-family: Soloist3D;
  src: url("../assets/fonts/Soloist3D-3vP6.otf") format("opentype");
}

@font-face {
  font-family: SoloistHalftone;
  src: url("../assets/fonts/SoloistHalftone-l6ny.otf") format("opentype");
}

@font-face {
  font-family: Starjedi;
  font-weight: bold;
  src: url("../assets/fonts/Starjedi.ttf") format("opentype");
}

@font-face {
  font-family: SfDistantGalaxy;
  font-weight: bold;
  src: url("../assets/fonts/SfDistantGalaxy-0l3d.ttf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dis-play {
  display: none;
}

/*
.btn-endgame {
  margin: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  white-space: nowrap;
  color:  rgb(73, 85, 255);
  font-size: 2rem;   
  cursor: pointer;
  border: #002fff 1px solid;          
  outline:none;
  box-shadow: inset #002fff 0 0 10px 0;    
  z-index: 4;  
  height: 7rem;    
}

.btn-endgame::before,
.btn-endgame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: transparent;
}

.pulse-endgame {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  padding: 0 3rem;
  background: transparent;
  font-size: 2rem ;
  font-weight: 500;    
  cursor: pointer;
  border: #002fff 1px solid;          
  outline:none;
  box-shadow: inset  #002fff 0 0 10px 0;  
}

.pulse-endgame::after,
.pulse-endgame::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  color: rgb(73, 85, 255);      
  border-radius: 35px;
}

.pulse-endgame::after {
color: #000;
  animation: 3s pulse-endgame ease-in infinite;
}

.pulse-endgame::before {  
  animation: 2.5s pulse-endgame ease-in-out infinite;
}

@keyframes pulse-endgame {
  50% {      
      background:#002fff;  
  }

  100% {
      transform: scale(2);
      opacity: 0;
  }
}
.pulse-endgame:hover,
.pulse-endgame::before:hover,
.pulse-endgame::after:hover {
  animation: paused;
}

.btn-endgame:hover {
  outline: #002fff 1.5px solid;
  box-shadow: inset  #002fff 0 0 17px 0;
} 

.btn-endgame:active {
  box-shadow: hsl(236, 100%, 48%) 0 0 30px 5px;
  border: none;
  outline: none;
} */

* {
  /* border: 2px solid red;  */
}

.button-container {
  position: relative;    
  display: flex;
  height: 13rem;
  width: max-content;
  justify-content: flex-start;  
}

/* Other existing styles */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17rem;
  position: relative;
}

.spinner {
  position: relative;
  width: 33rem;
  height: 33rem;
  border: 10px #000 solid;
  border-radius: 50%;
  border-top-color: #fbff00;
  border-left-color: #fbff00b9;
  border-bottom-color: #2024ffce;
  animation: spinner 0.4s linear infinite, bg-lights 3s ease-in infinite;
}

@keyframes bg-lights {
  50% {
    box-shadow: inset 0px 0px 150px 0px #ffffff, 0px 0px 50px 0px #ffffff;
  }
}
@keyframes spinner {
  50% {
    border-top-color: #ff0000ab;
    border-left-color: #ff0000;
    border-bottom-color: #2024ff34;
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Star Wars", sans-serif;
  font-size: 3.5rem;
  white-space: nowrap;
  animation: loading-title-anim 6s linear infinite;
}
@keyframes loading-title-anim {
  45% {
    color: #ffffff8a;
  }
  56% {
    color: #fbff00;
  }
  75% {
    color: #ffffff83;
  }
  92% {
    color: #000;
  }
}

.loading-title-upper {
  font-size: 3rem;
  position: absolute;
  top: 28%; /* Adjust the vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #fbff00;
  font-family: "DistantGalaxy", sans-serif;
  white-space: nowrap;
}

.loading-title-lower {
  font-size: 3rem;
  position: absolute;
  top: 53%; /* Adjust the vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #fbff00;
  font-family: "DistantGalaxy", sans-serif;
  white-space: nowrap;
}

.loading-quiz {
  font-family: "Star Wars", sans-serif;
  color: #fbff00;
  font-size: 2.8rem;
}

body {
  padding: 0 1rem;
  font-family: var(--font-family);
  background-image: url("../assets/background-stars-desktop.jpeg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: var(--secondary-color-dark);
}

ul,
li {
  list-style: none;
}

main {
  /* height: auto; */
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* margin-top: 100rem; */
  top: 100rem;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient( to right, #000000, #394dff, transparent);
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  z-index: 10;  
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: space-around;    
  padding-left: 2rem;
}

footer .footer-content .social .fa-icon {
  margin-right: 1rem;
  border: 2px #fff solid;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;  
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-content .social .fa-icon:hover {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #021c8f;
  box-shadow: inset #ffffff 0 0 4px 3px;
}
footer .footer-content .social .fa-icon:active {
  background-color: #1100ff;
    box-shadow: inset   #fff 0 0 6px 4px;
}

footer p {
white-space: nowrap;
}

.showcase {
  display: flex;
  width: 95vw;
  /* height: 55rem; */
  height: auto;
  /* grid-template-rows: 1fr 1fr; */
  justify-content: space-between;
  align-items: center;
  /* gap: 2rem;   */
  /* padding: 3rem 0; */
}

.container {
  display: flex;
  align-items: center;
}

.container-left {
  display: flex;
  align-self: flex-end;
}

.counter-title {
  display: flex;
  align-items: center;
  color: #fbff00;
  font-family: "SfDistantGalaxy", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  background: transparent;
  position: relative;
  white-space: nowrap;
}

.counter-title .special-s {
  font-family: "Star Wars", sans-serif;
  font-size: 3.9rem;
  font-weight: 300;
  margin-left: 4rem;
  margin-right: 0.2rem;
  margin-top: 0.9rem;
  display: flex;
  /* align-items: center;   */
}

.scene-container {
  position: display;
  justify-self: center;
  width: 107rem;
  height: 58rem;
  border-radius: 35px;
  /* margin-top: 10rem;  */
  border: .25rem ridge #fff;
  /* border: .25rem ridge #ffee00; */
  margin: .5rem 4rem;
  background: rgba(0, 0, 0, 0);
}

.scene-container img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
/* .scene-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  pointer-events: none
} */
.vanish {
  animation: vanishing 2.75s ease-in-out forwards;
}

@keyframes vanishing {
  100% {
    transform: scale(.5) rotateX(90deg);
    /* opacity: 0;      */
    background-color: #000;
  }
}
.border_black {  
  animation: border_black 3.3s ease-out forwards;
}
@keyframes border_black {
  95% {    
    transform: rotateX(90deg) skew(65deg) scale(.15);
  }
  100% {
    transform: rotateX(90deg) skew(65deg) scale(.01);
    border: .25px solid black; 
    box-shadow: inset 0 0 500px 0 #143fff; 
  }
}


.shrink-horizontal {
  animation: shrink-horizontal 3s ease-out forwards;
}

@keyframes shrink-horizontal {

  90% {
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
    margin-right: 10rem;
  }
}

.shrink-vertical {
  animation: shrink-vertical 1.5s ease-out forwards;
}
@keyframes shrink-vertical {
  to {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

.final-blue-shrink {
  animation: final-blue-shrink 3s ease-out forwards;
}

@keyframes final-blue-shrink {
  0% {
    margin-top: 10rem;
  }
  50% {
    box-shadow: inset 0px 0px 30px 0px #1093ff, 0px 0px 23px 0px #fff;
    color: #1353df;
  }
  90% {
    opacity: 1;
  }
  100% {    
    transform: rotateX(90deg);
    margin-top: 10rem;
    opacity: 0;
  }
}

.final-red-shrink {
  animation: final-red-shrink 3s ease-out forwards;
}
@keyframes final-red-shrink {
  50% {
    box-shadow: inset 0px 0px 30px 0px #ff3838, 0px 0px 23px 0px #fff;
    color: #ff3c3c;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
    /* margin-right: 10rem; */
  }
}

.final-green-shrink {
  animation: final-green-shrink 3s ease-out forwards;
}
@keyframes final-green-shrink {
  50% {
    box-shadow: inset 0px 0px 30px 0px #71fc4e, 0px 0px 23px 0px #fff;
    color: #71fc4e;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
    /* margin-right: 10rem; */
  }
}

/* ============================================= */
/*              Typewriter Style                 */
/* ============================================= */
/* TypeWriter.css */

/* Typewriter effect styling */
.front-line-blinker {
  animation: line-blinking 0.9s step-end infinite;
}

@keyframes line-blinking {
  0% {
    border-right: 3px solid #fff;
  }
  50% {
    border-right: 3px solid transparent;
  }
}

.txt {
  position: relative;
  color: var(--home-nav-font-color);
  text-align: center;
  font-size: 4rem;
  line-height: 3.2;
  font-weight: 600;
}

header-content {
  text-align: center;
  margin-top: 20vh;
}

p.lead {
  font-size: 1.5rem;
  margin-top: 20px;
}

.btn-light:hover {
  cursor: pointer;
  background-color: var(--secondary-color-light);
  color: var(--home-nav-font-color);
}

/* ============================================= */
/* ============================================= */

/*======================
    404 page
=======================*/

/* .btn-error {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  white-space: nowrap;
  color:  red;
  padding: 1rem 2rem;
  font-size: 2rem;   
  cursor: pointer;
  border: red 1px solid;
  outline:none;
  box-shadow: inset red 0 0 10px 0;    
}

.btn-error::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: transparent;
  animation: 2s pulse-error ease-in-out infinite;
}

.btn-error:hover {
  outline: red 1.5px solid;
  box-shadow: inset red 0 0 17px 0;
} 

.btn-error:active {
  box-shadow: hsl(0, 100%, 48%) 0 0 30px 5px;
  border: none;
  outline: none;
} */

.page_404 {
  height: 85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_404-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;  
  align-items: center;
  height: 63rem;  
  width: 63rem;
  background-image: url('../assets/404-Deathstar-transparent.png');  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
  position: relative;
  font-family: SoloistHalftone, Arial, Helvetica, sans-serif;  
  font-size: 12rem;
  box-shadow: inset #002fff 0px 0px 50px 10px;
  border-radius: 50%;
  text-shadow: #0c28a5 5px 3px 0px;
}

.page_404-showcase {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;  
}

.page_404-container::after  {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  contain: "";
  box-shadow: #002fff 0px 0px 20px 0px;
  z-index: -2;
}

.page_404-showcase h1 {
  color: #858585;
  position: relative;  
}

.page_404-showcase .back {
  position: relative;
  display: flex;  
  margin-right: 2rem;  
  z-index: -2;
}

.page_404-showcase .front {
  position: relative;  
  z-index: 2;
}

.page_404 h2 {
  display: flex;  
  font-size: 4rem;
  color: #a5a5a5;  
  position: absolute;
  bottom: 10rem;
  font-weight: 500;
}

.page_404 .button-container {
  position: relative;  
  justify-self: flex-start;
  justify-self: start;
  align-self: center;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_404 button {
padding: 1rem 3rem;
font-size: 2.5rem;
border-radius: 35px;
}

/* 
.pulse-error {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  font-size: 2.2rem;
  font-weight: 300;
  cursor: pointer;
  border: red 1px solid; 
  outline: none;
  box-shadow: inset red 0 0 10px 0;
}

.pulse-error::after,
.pulse-error::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  color: red; 
  border-radius: 35px;
}

.pulse-error::after {
  color: #000;
  animation: 2s pulse-error ease-in infinite;
}

.pulse-error::before {
  animation: 2s pulse-error ease-in-out infinite;
}

@keyframes pulse-error {
  50% {      
      background: #ff000077; 
  }

  100% {
      transform: scale(1.75);
      opacity: 0;
  }
}

.pulse-error:hover,
.pulse-error::before:hover,
.pulse-error::after:hover {
  animation: paused;
} */

/* =========================== */

header .quiz-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1rem 0;
  font-size: 7rem;
  font-family: "SoloistHalftone", sans-serif;
  height: 7rem;
  max-height: fit-content;
  color: #ffffff;
  font-weight: 100;
  white-space: nowrap;
  z-index: 5;
}

header .quiz-title span {
  font-family: "SfDistantGalaxy", sans-serif;
  color: #fbff00;
  font-size: 7rem;
}

header .quiz-title .span {
  padding-right: 1rem;
}

header .quiz-title .special-s {
  font-family: "Star Wars", sans-serif;
  font-size:6rem;
  margin-left: 4rem;
  margin-right: 0.5rem;
  margin-top: 10px;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;  
}

.into_black {  
  position: relative;  
} 

.into_black::before {
  content: "";    
  white-space: nowrap; 
  position: absolute;
  top:0;
  left: 100;  
  width: 80%;
  height: 100%;
  background-color: transparent;    
  animation: 7s into_black ease-in-out forwards;  
}

@keyframes into_black { 
  100% {  
    width: 110%;
    background-color: #000000;
    /* transform: translate(50%, 50%); */
  }
}

.outta_black {  
  position: relative;  
} 

.outta_black::after {
  content: "";    
  white-space: nowrap; 
  position: absolute;
  top:0;
  left: 100;  
  width: 100%;
  height: 100%;
  background-color: #000;    
  animation: 7s outta_black ease-in-out forwards;  
}

@keyframes outta_black { 
  100% {  
    /* width: 110%; */
    background-color: transparent;
    /* transform: translate(50%, 50%); */
  }
}

header {
  width: 100%;
  height: 7rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

main ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

main ul li {
  height: 12rem;
  width: 18rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main li:hover {
  background-color: #af0000;
}

main .film-logo {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 5px #000 solid;
  cursor: pointer;
  position: relative;
}

main li:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  box-shadow: inset #ff0000 0 0 30px 0;
  pointer-events: none;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbff00;
  font-family: "Star Wars", sans-serif;
  font-size: 3rem;
  text-align: center;
  background: transparent;
  position: relative;
  z-index: 2;
}

.score-value {
  display: flex;
  justify-content: center;
  font-family: "DistantGalaxy", sans-serif;
  width: 12rem;
  height: 10rem;
  font-size: 6rem;
  margin: -4rem;
  z-index: -1;
  border-radius: 50%;
}

.counter-value,
.counter h3 {
  display: flex;
  justify-content: center;
  /* font-family: "Star Wars", sans-serif; */
  width: 12rem;
  height: 10rem;
  font-size: 6rem;
  font-weight: 400;
  margin: -4rem;
  border-radius: 50%;
  color: #fbff00;
}
.counter-value {
  font-family: "DistantGalaxy", sans-serif;
}

.greenEffect {
  animation: greenScore 2.85s ease-in-out forwards alternate-reverse;
}
.redEffect {
  animation: redScore 2.85s ease-in-out forwards alternate-reverse;
}

@keyframes greenScore {
  0% {
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
  50% {
    box-shadow: inset 0px 0px 30px 0px #71fc4e, 0px 0px 23px 0px #fff;
    color: #71fc4e;
  }
}

@keyframes redScore {
  0% {
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
  50% {
    box-shadow: inset 0px 0px 30px 0px #ff3838, 0px 0px 23px 0px #fff;
    color: #ff3c3c;
  }
}

.blueEffect {
  animation: blueCount 2.85s ease-out alternate-reverse;
}

@keyframes blueCount {
  0% {
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
  50% {
    box-shadow: inset 0px 0px 30px 0px #1093ff, 0px 0px 23px 0px #fff;
    color: #1353df;
  }
}

.hint-container {
  display: flex;
  position: relative;
  width: 100rem;
  height: 20rem;
  font-size: 2rem;
}

.hint-container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "Hover for a Hint";
  font-family: "DistantGalaxy", sans-serif;
  width: 100%;
  height: 25rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(35px);
  font-size: 6rem;
  z-index: 1;
}

.hint-container:hover::after {
  animation: 4s come-hint ease-in-out forwards;
}

.hint-container .hint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem;
  color: #ffee00;
  background: #000;
  width: 100%;
  height: min-content;
  max-height: 25rem;
  font-size: 2.25rem;
  font-weight: 300;
  /* font-family: "Soloist3D", sans-serif; */
  font-family: "Poppins", sans-serif;
}

@keyframes come-hint {
  0% {
    content: "Hover for a Hint";
  }

  25% {
    color: #363636;
    white-space: pre;
    content: "  for ";
  }

  50% {
    color: #fbff0093;
    white-space: pre;
    content: "         a ";
    backdrop-filter: blur(20px);
  }

  60% {
    color: #fbff0096;
    white-space: pre;
    content: " Hover           ";
    backdrop-filter: blur(40px);
  }

  85% {
    color: #222222;
    backdrop-filter: blur(35px);
    white-space: pre;
    content: "               Hint";
    font-size: 6rem;
  }

  100% {
    /* text-indent: -350px; */
    white-space: pre;
    content: "                     ";
    color: transparent;
    backdrop-filter: blur(0px);
    border: none;
  }
}

main li.game-over-letter {
  font-family: "Soloist3D", sans-serif;
  font-size: 4rem;
  color:#fbff00;
  visibility: hidden;
  animation: spin-letter 2.5s ease-in-out forwards;
  background: transparent;
  box-shadow: 0px 0px 10px 1px #fbff00;
  opacity: 0;  
}

main li.game-over-letter:hover {
  color: #ffffff;
  box-shadow: 0px 0px 10px 1px #ffffff;
}

@keyframes spin-letter {

  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0.5;
    /* visibility: hidden; */
    transform: rotateY(360deg);
  }
}