@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/star-wars");

@font-face {
  font-family: DistantGalaxy;
  src: url("../assets/fonts/SfDistantGalaxy-0l3d.ttf") format("opentype");
}

@font-face {
  font-family: SfDistantGalaxyAlternate;
  src: url("../assets/fonts/SfDistantGalaxyAlternate-OE4d.ttf")
    format("opentype");
}
@font-face {
  font-family: Soloist3D;
  src: url("../assets/fonts/Soloist3D-3vP6.otf") format("opentype");
}

@font-face {
  font-family: SoloistHalftone;
  src: url("../assets/fonts/SoloistHalftone-l6ny.otf") format("opentype");
}

@font-face {
  font-family: Starjedi;
  font-weight: bold;
  src: url("../assets/fonts/Starjedi.ttf") format("opentype");
}

@font-face {
  font-family: SfDistantGalaxy;
  font-weight: bold;
  src: url("../assets/fonts/SfDistantGalaxy-0l3d.ttf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../assets/background-stars-desktop.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /*? */
  font-family: var(--font-family);
  /* height: 100dvh; */

  position: relative;
  margin: 0 auto;
  max-width: 98vw;  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Buttons are include in the following pages :
Warning (1), Welcome (3), Endgame (1), NotFound (1) */
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  font-family: "Poppins", sans-serif;
  padding: 1rem 3rem;
}