

 

  


 /* .modal-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  border: 2px solid #ffc710;
  background-color:#aca031 ;
  column-gap: 7rem;
  width: 100%;  
  height: 100%;
  padding: 9.3rem 0rem 4.2rem 5.16rem;
}

/* .game-over {
  height: 100%;
  width: 100%; 
  position: relative;
  border: 2px solid #b310ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1093ff;
  background: url('../../src/assets/planets/3.jpg') no-repeat center;
  background-size: contain;
} */

/* .game-over::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;    
  width: 100%;
  height: 100%;  
} */

.endGameContainer {
  display: flex;  
  position: relative;
  width: 80%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 5px rgb(255, 2, 120) solid;
  background-color: rgb(177, 33, 81);
} 

/* .slideContainer {
  display: flex;
  align-self: flex-end;
  width: 30rem;
  height: 17rem;
  border-radius: 13px;  
  border: 5px rgb(40, 252, 252) solid;
  background-color: rgb(138, 222, 255);
  position: absolute;
  top: 0;
  left: 0;    
  background-size: cover;
  content: "";
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-size: 8rem;
  z-index: 10;
} */

 .dots-container {
  display: flex;
  justify-content: center;
  position: relative;
  border: 5px solid rgb(128, 0, 75);
  background-color: rgb(211, 24, 211);
}

/* .dot { */
.scoring-dot {
  width: min-content;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  color:rgb(216, 255, 255);
  background-color: antiquewhite;  
}



.slideContainer {
   width: 100%;
   height: 30%;
   /* margin: 0 auto; */
   display: flex;
   /* align-self: flex-end; */
   /* position: relative; */
   border: 5px teal solid;
   background-color: rgb(27, 171, 228);    
}  

 .sliderStyles {
  background-color: rgb(255, 51, 0);
     height: 100%;
     position: relative;
     border: 15px solid orange;
     display: flex;
     width: 100%;
 }

 .slideStyles {
  background-color: rgb(63, 80, 15);
  border: 5px solid greenyellow;
     width: 100rem;
     height: 80rem;
     border-radius: 10px;
     /* background-position: center;
     background-size: cover;
     position: relative; */
    }
    
    .rightArrowStyles,
    .leftArrowStyles {
      position: "absolute";
      top: "50%";
      /* Transform: "translate(0, -50%)"; */    
      font-size: "45px";
      color: "#fff";
      z-index: 1;
      cursor: "pointer";
    }

    .leftArrowStyles {
      left: "32px";
    }

    .rightArrowStyles {
      right: "32px";
    }
    
    .next-slide {
      transform: translateX(100%);
    }
    
    /* .rightArrowStyles {
     position: absolute;
     top: 50%;
     Transform: translate(0, -10%);
     right: 32px;
     font-size: 45px;
     color: #fff;
     z-index:  1;
     cursor: pointer;
 }
 */

/*   
  .slideStyles {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
  }
   */
     /* background-image:  `url(${quizScenes[currentIndex].image})`; */
     /* ====== PROJECT CSS =============== */

     .endgame-container {
      background-color: rgb(177, 33, 81);
      width: 130rem;
      height: 80rem;
      display: flex;
      position: relative;
      overflow: hidden;
      justify-content: center;
      align-items: flex-end;
      border: 5px rgb(255, 2, 120) solid;
}

.mini-scene {  
      position: relative;
      width: 100rem;
      height: 35rem;
      border-radius: 13px;  
      border: 5px rgb(40, 252, 252) solid;
      background-color: rgb(1, 64, 88);
      display: flex;
      justify-content: center;
      align-items: center;
      /* position: absolute;
      top: 0;
      left: 0;     */
      background-size: cover;
      content: "";
      text-align: center;
      align-items: center;
      justify-content: center;
      /* background-color: #000; */
      /* font-size: 8rem; */
      /* z-index: 10; */
}

.slider-container {
background-color: rgba(255, 238, 0, 0.61);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
gap: 1rem;

/* align-self: flex-end; */
/* flex-direction: column; */

  /* margin: 0 auto; */
  /* margin-top: 10rem; */
  /* width: 50%; */
  /* max-width: 800px; */
  /* position: relative; */
  /* height: 450px; */
  /* overflow: hidden; */
}

.prev1 {  
  border: 5px solid rgb(255, 158, 47);
     width: 100rem;
     height: 80rem;
     border-radius: 10px;
     position: relative;
}

.prev1::after {
  content: "";
  position: absolute;  
  width: 95%;  
  top: -5rem;
  left: -5rem;
  transform: translate(-20%, -20%);
  border-radius: 10px;
  z-index: 10;
}

/* ============= Slick Carousel =============== */


    
.carousel-container {
  /* position: relative; */
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.nav-dots {
  border: rgb(255, 18, 50) 5px solid;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 20%;
  gap: 2rem;
  align-self: center; /*Boom */
  display: flex;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  height: 1.5rem;
  width: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;  
  border-radius: 50%;
  border: none;
  outline: none;
}

.dot.active {
   box-shadow: 0px 0px 6px 4px #fff;
}
.posterStyles {
  position: relative;
  margin: 5rem auto;
  width: 100%;
  height: 100%;
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
}

/* background-position: center; */