@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');

/* .attention {
    animation: attention 2s linear infinite;
  }
  
  @keyframes attention {
    50% { 
       transform: scale(0.90);
       box-shadow: inset #ffc909 0 0 20px 0;   
      }
  } */


 .buttons-container {
    position: relative;
    display:flex;
    height: 20rem;    
    width: 100%;
    padding: 2.5rem;
    justify-content: space-between;
    z-index: 1;
    background-image: url('../assets/background-stars-top.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 5rem; 
}

 .buttons-container::before {
        content: '';
        position: absolute;
        /* border: #ffc909 5px solid; */
        border-radius: 20em;
        top: 10rem;
        left: 25rem;
        width: 75%;
        height: 25rem; 
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
        z-index: 5;        
}

.audio-buttons {
    display: flex;
    gap: 3rem;
    width: fit-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.btn-start a {
    color: #ffc909;
}

.btn-audio,
.btn-start {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    background: transparent;
    color: #ffc909;
    font-size: 2rem ;
    cursor: pointer;
    border:#ffc909 1px solid;          
    outline:none;
    box-shadow: inset #ffc909 0 0 10px 0;    
    /* z-index: 1; */
    height: 6rem;    
}

button::before,
button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: transparent;
}

.pulse {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 0 3rem;
    background: transparent;
    font-size: 2.2rem ;
    font-weight: 300;    
    cursor: pointer;
    border:#ffc909 1px solid;          
    outline:none;
    box-shadow: inset #ffc909 0 0 10px 0;    
}

.pulse::after,
.pulse::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    color: #ffc909;      
    border-radius: 25px;
    z-index: -1;
}

.pulse::after {
color: #000;
    animation: 2s pulse 42s ease-in infinite;

}

.pulse::before {
    animation: 2s pulse 42s ease-in-out infinite;
}

@keyframes pulse {
    50% {
        color: #000;
        background:#1eff0077;  
    }

    100% {
        transform: scale(1.75);
        opacity: 0;
    }
}

.pulse:hover,
.pulse::before:hover,
.pulse::after:hover  {
    animation: paused;
}



.btn-audio {
    border-radius: 50%;
}

.btn-audio:hover,
.btn-start:hover {
    outline:#ffc909 1.5px solid;
    box-shadow: inset #ffc909 0 0 17px 0;
} 

.btn-audio:active,
.btn-start:active {
    box-shadow: #ffc909 0 0 30px 0;
    border: none;
    outline: none;
}


button:hover::before,
button:hover::after,
button:hover {
    animation: none;
    outline:none;
    background: transparent;
}

.welcome-container {
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    position: relative;
     background-image: url('../assets/background-stars-desktop.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  /* ? CONTAINER LINEAR GRADIENT fade to black */
  .welcome-container::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 40%; 
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
  }
  
  .wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    perspective: 50rem;
  }
  
  .scroll-text {    
    margin-top: 100vh;
    color: #ffc909;
    font-size: 2vw;
    line-height: 2em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 150s linear forwards;
  }
  
  @keyframes scroll {
    from { top: 0; transform: translateZ(0px) rotateX(35deg); }
    to { top: -7500px; transform: 
        /* overall text dimension*/
        translateZ(-4800px) 
        rotateX(36deg); }
  }
  

h1, h2 {
    text-align: center;
}
