.not_found {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5% auto;
    width: 30vmax;
    height: 30vmax;
    z-index: 0;
  }
  
  .not_found-container {
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: SoloistHalftone, Arial, Helvetica, sans-serif;
    box-shadow: inset #002fff 0px 0px 50px 10px;
    border-radius: 50%;
    text-shadow: #0c28a5 5px 3px 0px;
    background-image: url("/assets/404-Deathstar-transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20vmax;
    height: 30vmax;
    width: 30vmax;
    z-index: 0;
  }

.not_found .button-container {   
  position: absolute;
  height: 7vmax;
  top: 0;
  left: 0;
  width: 100%;    
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 1;
}

.not_found button {    
position: relative;
top: 0;
left: 0;
width: 13vmax;
height: 3vmax;
border-radius: 35px;
padding: 1vmax 3vmax;    
}

.not_found button a {    
    font-size: 1vmax;    
  }
  
  .not_found-container::after {
    display: flex;
    justify-content: center;
    position: absolute;    
    top: 0;
    left: 0;
    contain: "";
    box-shadow: #002fff 0px 0px 20px 0px;    
  }
    
  .not_found-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 25vmax;    
    margin-right:2rem;
  }
  
  .not_found-showcase h1 {    
    color: #9b9b9bbe;
    font-size: 10vmax;  
  }
  
  .not_found-showcase .back {
    position: relative;
    padding-right: 1rem;
    z-index: -2;
  }
  
  .not_found-showcase .front {
    position: relative;
    z-index: 2;
  }

    
  .not_found h2 {
    display: flex;
    font-size: 2vmax;    
    align-items: flex-start;
    width: fit-content;    
    height: 7vmax;
    position: absolute;
    bottom: 0;
    color: #a5a5a5;   
    font-weight: 400;   
    white-space: nowrap;
  }
  
.btn-notfound a {
  font-size: 1vmax;
  color: rgb(0, 89, 255);
}

.btn-notfound {
  color: rgb(0, 89, 255);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: "Poppins", sans-serif;
  background: transparent;
  white-space: nowrap;
  cursor: pointer;
  border: #002fff 1px solid;
  outline: none;
  box-shadow: inset #002fff 0 0 10px 0;
  height: 3vmax;
  margin-top: 3vmax;  
}

.btn-notfound:hover {
  outline: #002fff 1.5px solid;
  box-shadow: inset #002fff 0 0 17px 0;
}

.btn-notfound:active {
  box-shadow: hsl(236, 100%, 48%) 0 0 30px 5px;
  border: none;
  outline: none;
}

.pulse-notfound {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 1rem 3rem;
  background: transparent;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  border: #002fff 1px solid;
  outline: none;
  box-shadow: inset #002fff 0 0 10px 0;
  z-index: 100;
}

.pulse-notfound::after,
.pulse-notfound::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 35px;
  z-index: -1;
  cursor: pointer;
}

.pulse-notfound::after {
  animation: 3s pulse-notfound ease-in infinite;
}

.pulse-notfound::before {
  animation: 3s pulse-notfound ease-in-out infinite;
}
@keyframes pulse-notfound {
  50% {
    color: #000;
    background: #002fff;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.pulse-notfound:hover,
.pulse-notfound::before:hover,
.pulse-notfound::after:hover {
  animation: paused;
}
