
@media screen and (max-width: 768px) {
    .container {
      padding: 1rem;    
    }
  
    .warning-container {
      width: 85%;    
      background-image: linear-gradient(180deg, red, black 19%, transparent);
    }
  
    .warning-text {
      font-size: 1.7rem;
      min-width: 95%;
    }
  
    .enjoy {
      font-size: 2rem;
      margin-bottom: 0;
    }
  
    .warning-container .btn-warning {
      font-size: 1.7rem;
      letter-spacing: 3px;
      width: 95%;        
      padding: 1rem;
    }
  
    .warning-container h1 {
      font-size: 3rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 960px) {
    .container {
      padding: 3rem;
    }
  
    .warning-container {
      background-image: linear-gradient(180deg, red, black 22%, transparent);
    }
  
    .warning-text {
      justify-content: center;
      white-space: wrap;
    }
  
    .warning-container .btn-warning {
      font-size: 1.5rem;
      letter-spacing: 3px;
      padding: 1rem 2rem;
      width: 90%;
      height: fit-content;
      justify-content: center;
    }
  
    .warning-container h1 {
      font-size: 3rem;
    }
    
    .enjoy {   
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 961px) and (max-width: 1024px) {
    
      .container {
        padding: 3rem;
      }
    
      .warning-container {
        background-image: linear-gradient(180deg, red, black 22%, transparent);
      }
    
      .warning-text {
        justify-content: center;
        white-space: wrap;
      }
    
      .warning-container .btn-warning {
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding: 1rem 5rem;
        width: 90%;
        height: fit-content;
        justify-content: center;      
      }
    
      .warning-container h1 {
        font-size: 3rem;
      }
      
      .enjoy {   
        margin-bottom: 0;
      }
  }  
  
  @media screen and (min-width: 1025px) and (max-width: 1440) {
    .warning-container {    
      width: 75%;
      background-image: linear-gradient(180deg, red, black 26%, transparent);
    }
  
    .warning-text {
      display: flex;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      color: #ff0000;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 3rem;
    }
  
    .warning-container h1 {
      margin-bottom: 0rem;
    }
    
    
  }
  