
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.warning-container {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;  
  background-image: linear-gradient(180deg, red, black 30%, transparent);
}

.warning-text {
font-family:sans-serif;
  display: flex;
  color: #ff0000;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.enjoy {
  color: #ff0000;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 1rem;
  white-space: nowrap;
}

.btn-warning {
  color: red;  
  box-shadow: inset red 0 0 10px 0;  
  padding: 1rem 7rem;
  font-size: 2rem;
  background: transparent;  
  letter-spacing: .5rem;
  outline: #ff0909 1.7px solid;
  border: #ff0909 1.7px solid;
  margin-top: 2rem;    
}

.btn-warning:hover {
  color: red;
  outline: #ff0909 1.7px solid;
  box-shadow: inset #ff0909 0 0 13px 0;
}

.btn-warning:active {
  box-shadow: #ff0909 0 0 30px 0;
  border: none;
  outline: none;
}

.warning-container h1 {
  color: #000000;
  font-weight: 800;
  font-size: 4.5rem;
  font-family: serif;
}
