.endgame-container {  
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 2rem;
}

header .endgame-score {
  font-family: "SfDistantGalaxy", Arial, Helvetica, sans-serif;
  white-space: nowrap; 
  position: absolute;
  top: 6rem;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  background-image: linear-gradient( to right, #000000, #394dff, transparent);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
  background-position: -720px 0;
  animation: 8s blue_spotlight 1s ease-in-out infinite both;
  z-index: 5;
}
.endgame-score span {
  font-size: 2rem;
}

@keyframes blue_spotlight { 
  50% {
    background-position: 200px 0;
  }  
}

.btn-endgame a {
  color:  rgb(0, 89, 255);
}

.btn-endgame {  
  color:  rgb(0, 89, 255);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  white-space: nowrap;
  font-size: 2rem;   
  cursor: pointer;
  border: #002fff 1px solid;          
  outline:none;
  box-shadow: inset #002fff 0 0 10px 0;    
  height: 6rem;
  margin-top: 3rem;
}

.btn-endgame:hover {
  outline: #002fff 1.5px solid;
  box-shadow: inset  #002fff 0 0 17px 0;
} 

.btn-endgame:active {
  box-shadow: hsl(236, 100%, 48%) 0 0 30px 5px;
  border: none;
  outline: none;
}

.pulse-endgame {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 3rem;
  background: transparent;
  font-size: 2rem ;
  font-weight: 500;    
  cursor: pointer;
  border: #002fff 1px solid;          
  outline:none;
  box-shadow: inset  #002fff 0 0 10px 0;  
  z-index: 100;
}

.pulse-endgame::after,
.pulse-endgame::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* color: rgb(73, 85, 255);       */
  border-radius: 35px;
  z-index: -1;
  cursor: pointer;
}

.pulse-endgame::after {
  animation: 3s pulse-endgame ease-in infinite;
}

.pulse-endgame::before {
  animation: 3s pulse-endgame ease-in-out infinite;
}
@keyframes pulse-endgame {
  50% {
      color: #000;
      background:#002fff;  
  }

  100% {
      transform: scale(2);
      opacity: 0;
  }
}
.pulse-endgame:hover,
.pulse-endgame::before:hover,
.pulse-endgame::after:hover {
  animation: paused;
}

.carousel-container {
  width: 100%;
  height: 80%;  
  display: flex;
  /* padding-bottom: 1.5rem; */
  /* gap: 2rem; */  
  /* padding-bottom: 6rem; */
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* background-color: brown; */
}

.nav-dots {    
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  max-width: 48rem;
  height: 5.5rem;
  gap: 2rem;
  align-self: center;  
  z-index: 3;
  transform: translateY(-2rem);  
}

.dot {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;  
  cursor: pointer;  
  border-radius: 50%;
  border: none;
  outline: none;
}

.dot.active {
   box-shadow: 0px 0px 6px 4px #fff;
}

.slider-container {    
  width: 100%;
  /* border: 2px solid yellow; */
  height: 20rem;
  /* margin-bottom: 0rem; */
  /* background-color: aquamarine; */
  display: flex; 
  align-items: center; 
  justify-content: center;  
  /* justify-self: end;    */
  /* align-self: end; */
  z-index: 3;  
  }

  .dotsContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: flex-end;
    }
    
.poster-container {
  position: relative;
  padding: 4rem;
  height: 45rem;
  width: 45rem;    
  transform: translateY(-5rem);
  /* overflow: hidden; */
}

.poster-container::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2rem;  height: 100%;    
}


.posterStyles {
  position: relative; 
  height: 37rem;
  width: 28rem;
  transform: translate(4.5rem, 0rem);
  z-index:-1;
  overflow: hidden;
} 


.posterStylesLight {
  position: relative; 
  border-radius: 50%;
  z-index: 2;
  background-color: #ece8e8;
  animation: fade-in-light 4.5s ease-in-out infinite;  
} 

@keyframes fade-in-light {
  50% {
    background-color:rgb(20, 175, 59);
  }
}

.posterStylesLight::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  box-shadow: inset 0px 0px 20px 30px #ece8e8,
  0px 0px 10px 15px rgb(18, 199, 63);
  z-index: 5;
} 

.posterStylesLight::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  border-radius: 50%;
  z-index:-1;
  /* box-shadow: 0px 0px 0px 100px #000000; */
} 

.posterStylesDark {
  position: relative; 
  border-radius: 50%;
  z-index: 2;   
  animation: fade-in-dark 4.5s ease-in-out infinite;  
} 
@keyframes fade-in-dark {
  50% {
    background-color: #ff0000;
  }
}
.posterStylesDark::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  outline: 1rem solid #000;
  box-shadow: inset 0px 0px 25px 40px #000,
  0px 0px 15px 25px #ff0000;
  z-index: 2;
} 

.posterStylesDark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  border-radius: 50%;  
  box-shadow: 0px 0px 0px 100px #000000;
  z-index: 1;
} 

