@media screen and (max-width: 1880px) {
  
  .endgame-score {
    top: 3vmax;
    font-size: 2vmax;
  }

  .btn-endgame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
  }

  .carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vmin;
  }

  .poster-container {
    width: 30vmax;
    height: 30vmax;
    transform: translate(-0%, -0%);
  }

  .poster-container::before {
    position: absolute;
    border-radius: 50%;
    content: "";
    top: 0;
    left: 0;
    padding-bottom: 2rem;
  }

}

