
.loading {
  position: relative;
  display: flex;
    flex-direction: column;        
    /* margin: 17rem; */    
    /* justify-self: center; */
    /* margin: 0 auto; */
  }
  
  .spinner {
    position: relative;
    width: 33rem;
    height: 33rem;
    border: 10px #000 solid;
    border-radius: 50%;
    border-top-color: #fbff00;
    border-left-color: #fbff00b9;
    border-bottom-color: #2024ffce;
    animation: spinner 0.4s linear infinite, bg-lights 5s ease-in infinite;
  }
  
  @keyframes bg-lights {
    50% {
      box-shadow: inset 0px 0px 150px 0px #ffffff, 0px 0px 50px 0px #ffffff;
    }
  }
  @keyframes spinner {
    50% {
      border-top-color: #ff0000ab;
      border-left-color: #ff0000;
      border-bottom-color: #2024ff34;
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Star Wars", sans-serif;
    font-size: 3.5rem;
    white-space: nowrap;
    animation: loading-title-anim 6s linear infinite;
  }
  @keyframes loading-title-anim {
    45% {
      color: #ffffff8a;
    }
    56% {
      color: #fbff00;
    }
    75% {
      color: #ffffff83;
    }
    92% {
      color: #000;
    }
  }
  
  .loading-title-upper {
    font-size: 3rem;
    position: absolute;
    top: 28%; 
    left: 50%;
    transform: translateX(-50%);
    color: #fbff00;
    font-family: "DistantGalaxy", sans-serif;
    white-space: nowrap;
  }
  
  .loading-title-lower {
    font-size: 3rem;
    position: absolute;
    top: 53%; 
    left: 50%;
    transform: translateX(-50%);
    color: #fbff00;
    font-family: "DistantGalaxy", sans-serif;
    white-space: nowrap;
  }
  
  .loading-quiz {
    font-family: "Star Wars", sans-serif;
    color: #fbff00;
    font-size: 2.8rem;
  }