@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap");

/* .welcome-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border: 2px solid yellowgreen;
  justify-content: space-between;
  background-color: #000;
} */

.buttons-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 15rem;
  /*!change in mediaQ */
  /* width 80% + left margin 20rem for not hiding the stars at both sides */
  width: 80%;
  margin-left: 13rem;  
  justify-content: space-between;
  z-index: 1;
  background-color: #000;
  color: #ffc909;
}

/*!change in mediaQ */
/* under 15rem of black bgc*/
/* ::before from top: 10rem, for transparent bgc*/
.buttons-container::before {
  content: "";
  position: absolute;
  border-radius: 90deg;
  top: 15rem;
  left: 0;
  width: 100%;
  height: 25rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
}

.audio-buttons {
  display: flex;
  gap: 3rem;
  width: fit-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}


.btn-audio,
.btn-start {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: "Poppins", sans-serif;  
  background: transparent;
  color: #ffc909;
  cursor: pointer;
  border: #ffc909 1px solid;
  outline: none;
  box-shadow: inset #ffc909 0 0 10px 0;
  height: 6rem;
}

.btn-start a {
  color: #ffc909 !important;
  font-size: 2.2rem;
}

.btn-audio {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
}
.pulse-start {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 35px;
  font-family: "Poppins", sans-serif;
  padding: 0 3rem;
  background: transparent;
  /* font-size: 2.2rem; */
  font-weight: 300;
  cursor: pointer;
  border: #ffc909 1px solid;
  outline: none;
  box-shadow: inset #ffc909 0 0 10px 0;
}

.pulse-start::after,
.pulse-start::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffc909;
  border-radius: 35px;
  z-index: -1;
}

.pulse-start::after {
  color: #000;
  color: #ffc909;

  animation: 2s pulse-start 42s ease-in infinite;
}

.pulse-start::before {
  animation: 2s pulse-start 42s ease-in-out infinite;
  color: #ffc909;
}

@keyframes pulse-start {
  50% {
    color: #000;
    background: #1eff0077;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}

.pulse-start:hover,
.pulse-start::before:hover,
.pulse-start::after:hover {
  animation: paused;
  color: #ffc909;
}



.btn-audio:hover,
.btn-start:hover {
  outline: #ffc909 1.5px solid;
  box-shadow: inset #ffc909 0 0 17px 0;
  color: #ffc909;
}

.btn-audio:active,
.btn-start:active {
  box-shadow: #ffc909 0 0 30px 0;
  border: none;
  outline: none;
  color: #ffc909;
}

button:hover::before,
button:hover::after,
button:hover {
  animation: none;
  outline: none;
  background: transparent;
  color: #ffc909;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  perspective: 50rem;
}

.scroll-text {
  margin-top: 100vh;
  color: #ffc909;
  font-size: 2vw;
  line-height: 2em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 150s linear forwards;
}

@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0px) rotateX(35deg);
  }
  to {
    top: -7500px;
    transform: 
        /* overall text dimension*/ translateZ(-4800px)
      rotateX(36deg);
  }
}

h1,
h2 {
  text-align: center;
}

/* ! ====================*/
/* ! MQ Small screen */
/* ! ====================*/

@media screen and (max-width: 768px) {
  .buttons-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 10rem;
    /*!change in mediaQ */
    /* width 80% + left margin 20rem for not hiding the stars at both sides */
    width: 100vw;
    margin: 0;
    gap: 2rem;
    padding: 2rem 3rem;
    justify-content: space-between;
    z-index: 1;
    background-color: #000;
  }

  /*!change in mediaQ */
  /* under 10rem of black bgc*/
  /* ::before from top: 10rem, for transparent bgc*/
  .buttons-container::before {
    content: "";
    position: absolute;
    border-radius: 0;
    top: 10rem;
    left: 0rem;
    width: 100%;
    height: 5rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .audio-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn-start a {
    color: #ffc909;
    font-size: 1.5rem;
    letter-spacing: .25rem;    
  }

  .btn-audio,
  .btn-start {
    position: relative;
    display: flex;
    border-radius: 35px;
    font-family: "Poppins", sans-serif;
    background: transparent;
    color: #ffc909;
    cursor: pointer;
    border: #ffc909 0.85px solid;
    outline: none;
    box-shadow: inset #ffc909 0 0 7px 0;
  }
  .btn-audio {
    font-size: 2rem;
    padding: 1rem;
    width: 3.7rem;
    height: 3.7rem;
  }


  .btn-start {
    height: fit-content;    
    width: 50%;
    padding: .55rem;
  }

  .pulse-start {
    position: relative;
  }

  .pulse-start::after,
  .pulse-start::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    z-index: -1;
  }

  .pulse-start::after {
    color: #000;
    animation: 3s pulse-start 22s ease-in infinite;
  }

  .pulse-start::before {
    animation: 3s pulse-start 22s ease-in-out infinite;
  }

  @keyframes pulse-start {
    50% {
      color: #000;
      background: #1eff0077;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .pulse-start:hover,
  .pulse-start::before:hover,
  .pulse-start::after:hover {
    animation: paused;
  }

  .btn-audio {
    border-radius: 50%;
  }

  .btn-audio:hover,
  .btn-start:hover {
    outline: none;
    border: none;

    outline: #ffc909 1.5px solid;
    box-shadow: inset #ffc909 0 0 10px 0;
  }

  .btn-audio:active,
  .btn-start:active {
    box-shadow: #ffc909 0 0 25px 0;
    border: none;
    outline: none;
  }

  .text-container {
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    font-family: "Roboto", Helvetica, sans-serif;
    margin: 0 auto;
    position: relative;
  }

  .text-container::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 40%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 0;
  }

  .wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    perspective: 50rem;
  }

  .scroll-text {
    margin-top: 100vh;
    color: #ffc909;
    font-size: 1.1rem;
    line-height: 2em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 180s linear forwards;
  }

  @keyframes scroll {
    from {
      top: 0;
      transform: translateZ(0px) rotateX(20deg);
    }
    to {
      top: -5500px;
      transform: translateZ(-2000px) rotateX(21deg);
    }
  }

  h1,
  h2 {
    text-align: center;
  }
}

/*?=========== WIP =============*/
/* ! ====================*/
/* ! MQ Medium screen */
/* ! ====================*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .buttons-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 10rem;
    /*!change in mediaQ */
    /* width 80% + left margin 20rem for not hiding the stars at both sides */
    width: 100vw;
    margin: 0;
    gap: 2rem;
    padding: 2rem 4rem;
    justify-content: space-between;
    z-index: 1;
    background-color: #000;
  }

  /*!change in mediaQ */
  /* under 10rem of black bgc*/
  /* ::before from top: 10rem, for transparent bgc*/
  .buttons-container::before {
    content: "";
    position: absolute;
    border-radius: 0;
    top: 10rem;
    left: 0rem;
    width: 100%;
    height: 5rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .audio-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn-start a {
    color: #ffc909;
  }

  .btn-audio,
  .btn-start {
    position: relative;
    display: flex;
    border-radius: 35px;
    font-family: "Poppins", sans-serif;
    background: transparent;
    color: #ffc909;
    cursor: pointer;
    border: #ffc909 0.85px solid;
    outline: none;
    box-shadow: inset #ffc909 0 0 7px 0;
  }

  .btn-start {
    height: 4.5rem;
    /* width: max-content;   */
    font-size: 1.8rem;
    letter-spacing: 0.25rem;
  }

  .btn-audio {
    font-size: 3rem;
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  .pulse-start {
    position: relative;
  }

  .pulse-start::after,
  .pulse-start::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    z-index: -1;
  }

  .pulse-start::after {
    color: #000;
    animation: 3s pulse-start 22s ease-in infinite;
  }

  .pulse-start::before {
    animation: 3s pulse-start 22s ease-in-out infinite;
  }

  @keyframes pulse-start {
    50% {
      color: #000;
      background: #1eff0077;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .pulse-start:hover,
  .pulse-start::before:hover,
  .pulse-start::after:hover {
    animation: paused;
  }

  .btn-audio {
    border-radius: 50%;
  }

  .btn-audio:hover,
  .btn-start:hover {
    outline: none;
    border: none;

    outline: #ffc909 1.5px solid;
    box-shadow: inset #ffc909 0 0 10px 0;
  }

  .btn-audio:active,
  .btn-start:active {
    box-shadow: #ffc909 0 0 25px 0;
    border: none;
    outline: none;
  }

  .text-container {
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    font-family: "Roboto", Helvetica, sans-serif;
    margin: 0 auto;
    position: relative;
  }

  .text-container::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 40%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 0;
  }

  .wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    perspective: 50rem;
  }

  .scroll-text {
    margin-top: 100vh;
    color: #ffc909;
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 180s linear forwards;
  }

  @keyframes scroll {
    from {
      top: 0;
      transform: translateZ(0px) rotateX(20deg);
    }
    to {
      top: -5500px;
      transform: translateZ(-2000px) rotateX(21deg);
    }
  }

  h1,
  h2 {
    text-align: center;
  }
}

/* ! ====================*/
/* ! MQ Large screen */
/* ! ====================*/
@media screen and (min-width: 1025px) and (max-width: 1440) {   
    .buttons-container {
      position: relative;
      display: flex;
      align-items: center;
      height: 15rem;
      /*!change in mediaQ */
      /* width 80% + left margin 20rem for not hiding the stars at both sides */
      width: 100vw;
      margin: 0;
      gap: 2rem;
      padding: 2rem 4rem;
      justify-content: space-between;
      z-index: 1;
      background-color: #000;
    }

    /*!change in mediaQ */
    /* under 10rem of black bgc*/
    /* ::before from top: 10rem, for transparent bgc*/
    .buttons-container::before {
      content: "";
      position: absolute;
      border-radius: 0;
      top: 15rem;
      left: 0rem;
      width: 100%;
      height: 5rem;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    .audio-buttons {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .btn-start a {
      color: #ffc909;
    }

    .btn-audio,
    .btn-start {
      position: relative;
      display: flex;
      border-radius: 35px;
      font-family: "Poppins", sans-serif;
      background: transparent;
      color: #ffc909;
      cursor: pointer;
      border: #ffc909 0.85px solid;
      outline: none;
      box-shadow: inset #ffc909 0 0 7px 0;
    }

    .btn-start {
      height: 5.5rem;
      /* width: max-content;   */
      font-size: 2.3rem;      
      letter-spacing: 0.25rem;
    }

    .btn-audio {
      font-size: 3rem;
      padding: 1rem;
      width: 5.5rem;
      height: 5.5rem;
    }

    .pulse-start {
      position: relative;
    }

    .pulse-start::after,
    .pulse-start::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 35px;
      z-index: -1;
    }

    .pulse-start::after {
      color: #000;
      animation: 3s pulse-start 22s ease-in infinite;
    }

    .pulse-start::before {
      animation: 3s pulse-start 22s ease-in-out infinite;
    }

    @keyframes pulse-start {
      50% {
        color: #000;
        background: #1eff0077;
      }

      100% {
        transform: scale(1);
        opacity: 0;
      }
    }

    .pulse-start:hover,
    .pulse-start::before:hover,
    .pulse-start::after:hover {
      animation: paused;
    }

    .btn-audio {
      border-radius: 50%;
    }

    .btn-audio:hover,
    .btn-start:hover {
      outline: none;
      border: none;

      outline: #ffc909 1.5px solid;
      box-shadow: inset #ffc909 0 0 10px 0;
    }

    .btn-audio:active,
    .btn-start:active {
      box-shadow: #ffc909 0 0 25px 0;
      border: none;
      outline: none;
    }

    .text-container {
      background: rgba(0, 0, 0, 1);
      overflow: hidden;
      font-family: "Roboto", Helvetica, sans-serif;
      margin: 0 auto;
      position: relative;
    }

    .text-container::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 90%;
      height: 40%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 0;
    }

    .wrapper {
      display: flex;
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      perspective: 50rem;
    }

    .scroll-text {
      margin-top: 100vh;
      color: #ffc909;
      font-size: 1.5rem;
      line-height: 2em;
      font-weight: bold;
      text-align: justify;
      position: relative;
      animation: scroll 180s linear forwards;
    }

    @keyframes scroll {
      from {
        top: 0;
        transform: translateZ(0px) rotateX(20deg);
      }
      to {
        top: -5500px;
        transform: translateZ(-2000px) rotateX(21deg);
      }
    }

    h1,
    h2 {
      text-align: center;
    }
  }
