.counter-container {
    align-items: flex-start;
  }

  .counter-container .special {
    font-family: "Star Wars", sans-serif;
    font-size: 3.9rem;
    font-weight: 300;
    margin-left: 4rem;
    margin-right: 0.2rem;
    margin-top: 0.9rem;
    display: flex;
  }
  
.blueCounterEffect {
    animation: blueCount 2.5s ease-out alternate-reverse;
  }
  
  @keyframes blueCount {
    0% {
      box-shadow: inset 0px 0px 0px 0px transparent;
    }
    50% {
      box-shadow: inset 0px 0px 30px 0px #1093ff, 0px 0px 23px 0px #fff;
      color: #1353df;
    }
  }
  
.final-blue-effect {
    animation: final-blue-effect 3s ease-out forwards;
  }
  
  @keyframes final-blue-effect {
  
    50% {
      box-shadow: inset 0px 0px 30px 0px #1093ff, 0px 0px 23px 0px #fff;
      color: #1353df;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: rotateX(90deg);
      margin-top: 10rem;
      opacity: 0;
    }
  }