.filmbar {
    display: flex;
    justify-content: center;
    max-width: 90%; 
    margin: 0 auto;       
    gap: 1vmax;      
    padding: 0 1vmax;
  }
  
 .filmbar li {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: fit-content;         */
  }

.film-logo {
    width: 100%;
    height: 100%;
  }
  
  .filmbar li:hover {
    background-color: #af0000;
    cursor: pointer;
  }

  main li:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    box-shadow: inset #ff0000 0 0 30px 0;
    pointer-events: none;
  }
  
  main li.game-over-letter {
    font-family: "Soloist3D", sans-serif;
    font-size: 3vmax;
    color: #fbff00;
    visibility: hidden;
    animation: spin-letter 2.5s ease-in-out forwards;
    background: transparent;
    box-shadow: 0px 0px 10px 1px #fbff00;
    opacity: 0;
  }
  
  main li.game-over-letter:hover {
    color: #ffffff;
    box-shadow: 0px 0px 10px 1px #ffffff;
  }

  