

.filmbar li {
 width: calc(15vmax);
 /* height: calc(8vmax + 1rem); */
}

.showcase {
  grid-area: 2 / 1 / 6 / 11;
  display: flex;
  /* height: 100%; */
  width: 100%; 
  justify-content: center; 
  align-items: center;
  gap: 4rem;
  /* background-color: violet; */
  padding: 0 1rem;
  height: min-content;
}

.scene-container {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 3 / 5 / 9;
  border-radius: 35px;
  margin-top: 1rem;
  /* aspect-ratio: 16 / 9; */
  background: rgba(0, 0, 0, 0);
  gap: 1rem;  
  width: 55%;
  height: auto;
}

.scene-container img {
  width: 100%;
  border-radius: 35px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border: 0.25rem ridge #fff;
}

.vanish {
  animation: vanishing 2s ease-in-out forwards;
}

@keyframes vanishing {
  100% {
    transform: scale(0.5) rotateX(270deg);
  }
}

.scene-endgame {
  animation: scene-endgame 4s ease-out forwards;
}

@keyframes scene-endgame {
  97% {
    transform: rotateX(270deg) skew(65deg) scale(0.01);
    border: 0.25px solid black;
    box-shadow: inset 0 0 500px 0 #fbff00;
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
    transform: rotateX(270deg) skew(65deg) scale(0);
    border: 0.25px solid black;
    box-shadow: inset 0 0 500px 0 #fbff00;
  }
}
