.showcase {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 1vmax;
}

.scene-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 60vmax;
  width: 120vmin;
  aspect-ratio: 16 / 9;
  height: auto;
  border-radius: 35px;
  margin: 0.5rem 4rem;
  background: rgba(0, 0, 0, 0);
  gap: 1vmax;
}

.scene-container img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
  aspect-ratio: 16 / 9;
  border: 0.25rem ridge #fff;
}

.vanish {
  animation: vanishing 2s ease-in-out forwards;
}

@keyframes vanishing {
  100% {
    transform: scale(0.5) rotateX(270deg);
  }
}

.scene-endgame {
  animation: scene-endgame 4s ease-out forwards;
}
@keyframes scene-endgame {
  97% {
    transform: rotateX(270deg) skew(65deg) scale(0.01);
    border: 0.25px solid black;
    box-shadow: inset 0 0 500px 0 #143fff;
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
    transform: rotateX(270deg) skew(65deg) scale(0);
    border: 0.25px solid black;
    box-shadow: inset 0 0 500px 0 #143fff;
  }
}
