.game-over-letter {
  display: flex;
  align-items: center;
  justify-content: center;    
    font-family: "Soloist3D", sans-serif;
    font-size: 3vmin;
    color: #fbff00;
    visibility: hidden;
    animation: spin-letter 2.5s ease-in-out forwards;
    background: transparent;
    box-shadow: 0px 0px 10px 1px #fbff00;
    opacity: 0;
  }
  
.game-over-letter:hover {
    color: #ffffff;
    box-shadow: 0px 0px 10px 1px #ffffff;
  }
  
  @keyframes spin-letter {
    50% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0.5;
      transform: rotateY(360deg);
    }
  }
  