@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Poppins:wght@100;200;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid yellow; */
}

html {
  font-size: 62.5%;
  font-family: var(--form-font);
}


body {
  line-height: 1.6;
  /* font-size: 2rem; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh;
  width: 100vw; */
  font-family: var(--font-family);
  background-image: url("../assets/background-stars-desktop.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}