@media screen and (max-width: 1880px) {
  main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: repeat(1fr);
  }
  
  .showcase {
    display: grid;
    gap: 4vmin;
    padding: 1rem;
    grid-row: 2 / 3;
    grid-column: 1 / 10;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  main ul  {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
  }

  .counter-container {
    grid-area: 2 / 8 / 3 / 10;
    flex-shrink: 0;
    width: 100%;    
  }

  .score-container {
    grid-area: 2 / 1 / 3 / 3;
    width: 100%; 
    margin-left: 2rem;     
  }
  
  .scene-container {
    grid-area: 2 / 3 / 3 / 8;
    flex-shrink: 0;
    width: 100%;
    height: fit-content;
    justify-self: center;
  }

  .shared-container {
    max-width: 90%;
    align-items: center;
    height: 100%;       
    flex-shrink: 2;   
    /* gap: 2vmin; */
  }

  .counter-title {
    white-space: wrap;
    flex-wrap: wrap;      
  }
    
   .counter-value {
    transform: translateY(25%)
  }

  .score-value {
    transform: translateY(15%);
  }
  .score-title {
  transform: translateY(0%);
  }
  .shared-title {
    font-size: 2vmax;    
  }
  .shared-value {
    font-size: 5vmax; 
    width: 7vmax;
    height: 7vmax;    
  }
}

@media screen and (max-width: 960px) {

  main ul {
    display: flex;
    justify-content: center;
    width: 100%;  
    gap: 1vmax;      
  }
  
  main ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(9vmax);        
  }
  .shared-container {
    width: min-content;
  }

  .shared-title {
    /* font-size: 4vmin; */
    /* font-weight:100;     */
  }

  .shared-value {
    /* font-size: 8vmin; */
  }

  .counter-title {
    /* flex-shrink: 0; */
    white-space: wrap;
    width: min-content;
  }

  .counter-value {
    /* flex-shrink: 0; */
  }

  .counter-container {
    grid-area: 2 / 9 / 3 / 10;
    flex-shrink: 2;
    /* width: 100%; */
  }

 .score-container {
    grid-area: 2 / 1 / 3 / 3;
    /* width: 100%; */
    margin-left: 0rem;     
    /* padding-right: 2rem; */
  }

  .score-title {
    /* flex-shrink: 0; */
    /* flex-wrap: wrap; */
    transform: translateY(-35%);
  }

  .scene-container {
    grid-area: 2 / 3 / 3 / 9;
    flex-shrink: 0;
    width:100%;
    max-width: 100%;
    align-self: flex-start;
    justify-self: center;
    margin: 0;
  }
}

@media screen and (max-width: 668px) {

  main ul, 
  main li {
    max-height: 4rem;
  }
  main ul {
    display: flex;
    justify-content: center;
    width: 100%;  
    gap: 1vmax;      
  }
  
  main ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(10vmin);        
  }

  main .film-logo {
    width: 100%;
    height: 100%;
  }

   .showcase {
    justify-self: center;
    align-self: center;
  }
  .counter-title {
    flex-shrink: 0;
    white-space: wrap;
  }

  .counter-value {
    flex-shrink: 0;  
    transform: translateY(30%);  
  }

  .counter-container {
    grid-area: 3 / 5 / 4 / 9;
  }

 .score-container {
    grid-area: 3 / 2/ 4 / 5;
     }
 
  .scene-container {
    grid-area: 2 / 1 / 3 / 10;
    gap: 1vmin;
  }
  .shared-container {    
    justify-content: center;        
    align-self: center;
    transform: translateY(-30%);    

  }    
  
  .score-container {
    grid-area: 3 / 4 / 4 / 5;
  }
  .counter-container {
    grid-area: 3 / 6 / 4 / 8;
  }
}

@media screen and (max-width: 369px) {

  main ul, 
  main li {
    max-height: 4rem;
  }
  main ul {
    display: flex;
    justify-content: space-around;
    width: 100%;        
  }
  
  main ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  main .film-logo {
    width: 100%;
    height: 100%;
  }
}