.dis-play {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  background-color: transparent;
  height: 5vmax;
}

.quiz-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 5vmax;
  font-family: "SoloistHalftone", sans-serif;
  color: #ffffff;
  font-weight: 100;
  white-space: nowrap;
  z-index: 5;  
}

.quiz-title .span {
  font-family: "SfDistantGalaxy", sans-serif;
  color: #fbff00;
  margin: 0 3rem;    
}


/* =================== */

 footer {
  width: 95vw;
  display: flex;  
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;  
  transform: translateY(60vmin);
   background-image: linear-gradient(
    to right,
    #000,
    #394dff,
    #000
    );
    font-family: "Poppins", sans-serif;
    color: #fff;
    z-index: 10;
  }
  
  .footer-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
    border-color: yellow;    
  }
  
  footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
 }

footer svg {
  margin: 0;
  color: #fff;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

footer .social .fa-icon {
  height: 2.5rem;
  width: 2.5rem;
  border: 1.8px #fff solid;
  color: #fff;
  border-radius: 50%;
  display: flex;
}

footer .footer-container p {
  font-size: 1vw;
}

.button-container {
  position: relative;
  display: flex;
  height: 13rem;
  width: min-content;
  justify-content: flex-start;
}

/* =========================== */

.into_black {
  position: relative;
}

.into_black::before {
  content: "";
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: 7s into_black ease-in-out forwards;
}

@keyframes into_black {
  100% {
    background-color: #000000;
  }
}

.blackout {
  position: relative;
  width: 100%;
  height: 10rem;
}

.blackout::before {
  content: "";
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
  animation: 4s blackout 2s ease-in-out forwards;
}

@keyframes blackout {
  100% {
    background-color: transparent;
  }
}

/*? =================== */
/*! Screens Adjustment */
/*? =================== */

@media screen and (orientation: landscape) {

  .footer-container .social {
    position: relative;
    justify-content: center;
    align-self: center;
    right: 0;
    top: 0;
  }

  footer svg {
    color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }

  footer .social .fa-icon {
    height: 2.5rem;
    width: 2.5rem;
    border: 1.8px #fff solid;
    color: #fff;
    border-radius: 50%;
    display: flex;
  }

  footer .footer-container p {
    font-size: 1.3rem;
  }

  .button-container {
    position: relative;
    display: flex;
    height: 13rem;
    width: min-content;
    justify-content: flex-start;
  }
}

/* ========================= */

@media screen and (max-width: 1880px) {


  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .spinner {
    position: relative;
    width: 30rem;
    height: 30rem;
  }

  .loading-title {
    font-family: "Starjedi", sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    animation: 7.5s loading-title-anim ease-in infinite;
  }

  .loading-title-upper,
  .loading-title-lower {
    font-family: "Soloist3D", sans-serif;
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
  }
  footer {    
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  footer {
    height: 5rem;    
    font-size: 1rem;
  }

  .footer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-width: min-content;
    flex: 1;
  }

  footer .social {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  footer p {
    position: relative;
    height: 2rem;
    color: transparent;
  }

  footer p::before {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    content: "This is a Fan made non-commercial website. IP, trademarks, and copyrights are owned by Lucasfilm Ltd. ©"
      attr(data-year) ". All rights reserved.";
    font-size: 1.2rem;
    color: #fff;
    left: 0;
  }
}

/* ========================== */

@media screen and (max-width: 1200px) {

  .footer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-width: min-content;
    padding: 0 0.5rem;
  }
  .footer-container a {
    width: min-content;
  }

  footer svg {
    margin: 0;
    color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }

  footer .social .fa-icon {
    width: 3rem;
    height: 3rem;
    border: 1.8px #fff solid;
    color: #fff;
    border-radius: 50%;
  }

  footer p {
    position: relative;
    height: 2rem;
    color: transparent;
  }

  footer p::before {
    position: absolute;
    content: "This is an unofficial fan app. Star Wars IP, TM & © are owned by Lucasfilm Ltd. "
      attr(data-year) ". All rights reserved.";
    font-size: 1rem;
    font-size: 1.2rem;
    color: #fff;
    left: 0;
  }
}

/* ========================== */

@media screen and (max-width: 960px) {
  .quiz-title {
    font-size: 5vmin;   
    white-space: nowrap;
    z-index: 5;  
  }
  
  .quiz-title .span {
    font-family: "SfDistantGalaxy", sans-serif;
    color: #fbff00;
    margin: 0 1rem;    
  }

  .blackout::before {
    content: "";
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 100;
    width: 100%;
    height: 100%;
    background-color: #000;
    animation: 4s blackout 2s ease-in-out forwards;
  }

  footer {
    height:3.5rem;    
  }

  .footer-container {
    position: relative;
    min-width: min-content;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;  
    padding: 1rem;  
  }

  footer svg {
    margin: 0;
    color: #fff;
    border-radius: 50%;
  }

  footer .social .fa-icon {
    width: 2rem;
    height: 2rem;
    border: 1.8px #fff solid;
    color: #fff;
    border-radius: 50%;
  }

  footer p {
    position: relative;
    height: 1rem;
    bottom: .1rem;
    color: transparent;
  }

  footer p::before {
    text-align: center;
    position: absolute;
    content: "Unofficial app. IP, TM & © are owned by Lucasfilm Ltd."
      attr(data-year);
    font-size: 1rem;
    color: #fff;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .spinner {
    position: relative;
    width: 20rem;
    height: 20rem;
  }

  .loading-title {
    font-family: "Starjedi", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    animation: 7.5s loading-title-anim ease-in infinite;
  }

  .loading-title-upper,
  .loading-title-lower {
    font-family: "Soloist3D", sans-serif;
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
  }
}
/* ====================== */

@media screen and (max-width: 688px) {
 
  .quiz-title {
    font-size: 5vmin;   
    white-space: nowrap;
    z-index: 5;  
  }
  
  .quiz-title .span {
    font-family: "SfDistantGalaxy", sans-serif;
    color: #fbff00;
    margin: 0 1rem;    
  }
  .loading {
    display: flex;
    align-items: center;
    position: relative;    
    z-index: 10;
    margin-top:-50px;
  }
  .spinner {
    position: relative;
    width: 20rem;
    height: 20rem;
  }

  .loading-title {
    font-family: "Starjedi", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    animation: 7.5s loading-title-anim ease-in infinite;
  }

  .loading-title-upper,
  .loading-title-lower {
    font-family: "Soloist3D", sans-serif;
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
  }
}


/* Galaxy Fold 280 x 653 */
@media screen and (max-width: 490px) {
  body {
    height: 100%;    
    background-color: #000;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    background-color: transparent;
  }
  
  .quiz-title {
    font-size: 5vmin;   
    white-space: nowrap;
    z-index: 5;  
  }
  
  .quiz-title .span {
    font-family: "SfDistantGalaxy", sans-serif;
    color: #fbff00;
    margin: 0 1rem;    
  }
  
  .blackout {
    position: relative;
    width: 100%;
  }

  .blackout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    animation: 4s blackout 2s ease-in-out forwards;
  }
  
  .blackout::after {
    content: "";
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: -2px;
    width: 0%;
    height: 100%;
    z-index: 100;
    background-color: #000;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;
    position: relative;
  }

  .spinner {
    position: relative;
    width: 17rem;
    height: 17rem;
  }

  .loading-title {
    font-size: 2rem;
    animation: 7.5s loading-title-anim ease-in infinite;
  }

  .loading-title-upper,
  .loading-title-lower {
    letter-spacing: 0.5rem;
    font-size: 1rem;
  }
  .loading-title-upper {
    top: 37%;
  }
  .loading-title-lower {
    top: 57%;
  }
  
  .footer-container {
    position: relative;
    bottom: .25rem;
    display: flex;

    justify-content: center;
    align-items: flex-start;
    max-width: 90%;  
  }

  footer {
    height: 3rem;
    padding: .7rem;
    bottom: 0;
  }
  
  .footer-container .social {
    position: relative;
    justify-content: center;
    align-self: center;
    top: .3rem;
  }

  footer svg {
    margin: 0;
    color: #fff;
    border-radius: 50%;
  }
  
  footer .social .fa-icon {
    width: 1.5rem; 
    height: 1.5rem;    ;
    border: 1.8px #fff solid;
    color: #fff;
    border-radius: 50%;
    padding: .12rem;
  }

  footer p {
    position: relative;
    height: 1rem;
    color: transparent;    
  }

  footer p::before {
    text-align: center;
    position: absolute;
    content: "Unofficial app. IP, TM & © are owned by Lucasfilm Ltd."
      attr(data-year);
    font-size: .8rem;
    color: #fff;
    left: 50%;
    top: .5rem;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
